.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: rem(5);
	@include adaptiveValue("width", 350, 250, 1200, 550, 1);
	@include adaptiveValue("height", 50, 35, 1200, 550, 1);

	background: #000;
	border-radius: rem(8);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;
	p {
	}

	&:active {
		transform: scale(0.97);
	}
	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	width: 100%;
	min-height: 100vh;

	background-image: url("@img/game/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;
	transition: all 0.3s ease 0s;
	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(15);
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;

		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 20px);

	padding-inline: rem(42);
	padding-top: rem(20);
	padding-bottom: rem(50);
	margin-top: rem(20);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 36, 28, 1200, 550, 1);
		line-height: math.div(38, 32);
		color: #ffffff;
		text-align: center;
		margin-bottom: rem(30);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}
}

.text-pre {
	font-weight: 700;
	@include adaptiveValue("font-size", 22, 12, 1200, 550, 1);
	line-height: math.div(16, 14);
	color: #ffffff;
	text-align: center;

	&__title {
		text-transform: uppercase;
	}
}

.check {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.money {
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: center;
	width: 100%;

	// .money__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		@include adaptiveValue("height", 35, 25, 1200, 550, 1);
		@media (min-height: em(600)) {
			@include adaptiveValue("height", 80, 50, 1200, 800, 1);
		}

		background-color: #000;
		border: 0.3px solid #363738;
		border-radius: 20px;

		@include adaptiveValue("padding-inline", 12, 2, 800, 550, 1);
	}

	// .money__coins

	&__coins,
	&__text {
		font-weight: 500;

		@include adaptiveValue("font-size", 18, 12, 1200, 550, 1);
		line-height: math.div(16, 14);
		text-align: center;
		color: #fff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__coins {
		min-width: rem(90);
	}
}
.block-bet {
	display: flex;
	align-items: center;
	justify-content: center;

	&._hold {
		pointer-events: none;
		opacity: 0.5;
	}

	// .block-bet__controls

	&__controls {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("column-gap", 10, 2, 800, 550, 1);
		&._hold {
			transition: all 0.6s ease 0s;
			pointer-events: none;
			opacity: 0.3;
		}
	}

	&__minus,
	&__plus {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 40, 30, 800, 550, 1);
		@include adaptiveValue("height", 40, 30, 800, 550, 1);
		border-radius: 50%;

		background: rgba(118, 123, 133, 0.5);
		@include adaptiveValue("font-size", 26, 16, 1200, 550, 1);
		color: #fff;
		transition: all 0.3s ease 0s;
		@media (min-height: em(600)) {
			@include adaptiveValue("flex-basis", 60, 41, 1200, 800, 1);
			@include adaptiveValue("height", 60, 41, 1200, 800, 1);
		}
		&:active {
			transform: scale(0.9);
		}
	}

	// .block-bet__bet

	&__bet {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("width", 170, 100, 800, 550, 1);
		height: rem(37);

		background-color: #1a1b1c;
		border: 0.3px solid #363738;
		border-radius: 13.5px;
	}

	// .block-bet__coins

	&__coins {
		min-width: rem(30);
		padding: 0 rem(5);
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 12, 1200, 550, 1);
		line-height: math.div(16, 14);
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		text-align: center;

		&._no-money {
			animation: no-money 0.5s ease 2;
		}
	}
}

.button-back {
	@include adaptiveValue("width", 40, 15, 1200, 550, 1);
	@include adaptiveValue("height", 40, 15, 1200, 550, 1);
	border-radius: 50%;
	background: url("@img/icons/arrow.svg") 45% / 40% 40% no-repeat,
		linear-gradient(0deg, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),
		radial-gradient(55.72% 65.38% at 19.23% 94.23%, rgba(204, 140, 255, 0.31) 0%, rgba(116, 0, 207, 0) 100%);
	border: 0.5px solid rgba(255, 255, 255, 0.48);

	min-width: rem(15);
	min-height: rem(15);
	transition: all 0.3s ease 0s;
	@media (min-height: em(600)) {
		min-width: rem(30);
		min-height: rem(30);
	}
	&:active {
		transform: scale(0.9);
	}
}
.text {
	font-weight: 700;
	@include adaptiveValue("font-size", 24, 18, 1200, 550, 1);
	line-height: math.div(23, 20);
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&_game {
		font-weight: 500;
	}
}

//========================================================================================================================================================
